body {
  margin: 0px;
}
header {
  height: 100vh;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  background-image: url(http://stmedia.startribune.com/images/ows_138809003453231.jpg);
  background-size: cover;
  background-position: bottom;
  h1 {
    color: hsla(62, 100%, 90%, 1);
    margin: 0px;
    margin-top: 15px;
  }
  p {
    color: hsla(62, 100%, 90%, 1);
  }

  #loading {
    display:none;
    margin-top: 30px;
  }

  .styledForm {
    select {
      border: 0;
      font-size: 24px;
      text-align: center;
      text-align-last: center;
      margin: 30px;
    }
    option {
      text-align: center;

    }
    button {
      margin: 0 auto;
      margin-top: 20px;
      display: block;
      border-radius: 15px;
      font-family: Georgia;
      color: #ffffff;
      font-size: 25px;
      background: hsla(258, 100%, 80%, 1);
      padding: 20px 40px 20px 40px;
      border: solid white 2px;
      text-decoration: none;
      transition: all 0.3s;
      &:hover {
        background: hsla(301, 100%, 53%, 1);
        color: hsla(62, 100%, 90%, 1);
        text-decoration: none;
      }
    }
  }
}
.big-icon {
  height: 140px;
  width: 140px;
}
.icon {
  height: 60px;
  width: 60px;
}
section {
  min-height: 100vh;
  width: 100%;
  border-bottom: 1px dashed hsla(183, 3%, 48%, 1);

}

.general {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  margin-top: 40px;
}
main {
  background-color: hsla(183, 100%, 94%, 1);
  display: none;
  display: flex;
  flex-direction: column;
  a {
    color: hsla(21, 79%, 48%, 1);
    text-decoration: none;
  }
  p {
    font-family: 'Martel Sans', sans-serif;
  }
  .gMain {
    display: flex;
    justify-content: center;
  }

  .gExtra {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 30px;
  }
  .rate {
    width: 60%;
    padding: 5px;
    border: 1px solid hsla(62, 100%, 90%, 1);;
    color: hsla(62, 100%, 90%, 1);
    border-radius: 15px;
    background-color: #39314A;
    margin: 0 auto;

  }
  .pictures {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .pics {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    img {
      width: 30vw;
      border: 1px solid black;
      padding: 5px;
    }
    @media (max-width: 400px) {
    img {
      width: 100vw;
    }
  }

}
  .exchange {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .comparison {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .hotels {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px dashed grey;
    padding-top: 5px;
    align-items: center;
  }
  .food {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px dashed grey;
    padding-top: 5px;
    align-items: center;
  }
  .alcohol {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px dashed grey;
    padding-top: 5px;
    align-items: center;
  }
  .safety {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    p {
      width: 60%;
      text-align: left;
      margin: 0 auto;
    }
  }
  .money {
    width: 60%;
    margin: 0 auto;
    text-align: center;
  }
  .tip {
    width: 60%;
    text-align: left;
    margin: 0 auto;
  }
}
