body {
  margin: 0px;
}

h1, h2 { font-family: 'Almendra', serif;
}
h3, h4, h5, h6 {
  font-family: 'Volkhov', serif;
}

header {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
  background-image: url(images/world.gif);


  #loading {
    display:none;
  }

  .styledForm {
    select {
      border: 0;
      font-size: 24px;
      text-align: center;
      text-align-last: center;
      margin: 30px;
    }
    option {
      text-align: center;

    }
    button {
      margin: 0 auto;
      margin-top: 20px;
      display: block;
      border-radius: 15px;
      font-family: Georgia;
      color: #ffffff;
      font-size: 25px;
      background: #0ceb5a;
      padding: 20px 40px 20px 40px;
      border: solid #000000 2px;
      text-decoration: none;
      transition: all 0.3s;
      &:hover {
        background: #df0;
        text-decoration: none;
        color: black;
      }
    }
  }
}
.big-icon {
  height: 120px;
  width: 120px;
}
.icon {
  height: 60px;
  width: 60px;
}
section {
  min-height: 100%;
  width: 100%;
  border-bottom: 2px solid black;
}

.general {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  margin-top: 40px;
}
main {
  display: none;
  display: flex;
  flex-direction: column;
  p {
    font-family: 'Martel Sans', sans-serif;
  }
  .gMain {
    display: flex;
    justify-content: center;
  }

  .gExtra {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 30px;
  }
  .rate {
    width: 60%;
    border: 2px solid black;
    color: black;
    background-color: gold;
    margin: 0 auto;

  }
  .pictures {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .pics {
    display: flex;
    justify-content: space-around;
    text-align: center;
    img {
      max-width: 30%;
      border: 1px solid black;
      padding: 5px;
    }
  }
  .exchange {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .comparison {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .hotels {
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
    padding-top: 5px;
  }
  .food {
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
    padding-top: 5px;
  }
  .alcohol {
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
    padding-top: 5px;
  }
  .safety {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;;
    p {
      width: 60%;
      text-align: center;
      margin: 0 auto;
    }
  }
  .money {
    width: 60%;
    margin: 0 auto;
    text-align: center;
  }
}
