@import url(https://fonts.googleapis.com/css?family=Volkhov:400,700);
@import url(https://fonts.googleapis.com/css?family=Almendra:400,700italic,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Martel+Sans);
h1 {
  font-size: 4em;
  margin: 0 0 0 0; }

header {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  background-image: url(images/world.gif); }
  header h1 {
    font-family: 'Almendra', serif;
    color: navyblue;
    float: left;
    margin-top: -20%; }
  header .styledForm select {
    border: 0;
    font-size: 24px;
    text-align: center;
    text-align-last: center;
    margin: 30px; }
  header .styledForm option {
    text-align: center; }
  header .styledForm button {
    margin: 0 auto;
    margin-top: 20px;
    display: block;
    border-radius: 15px;
    font-family: Georgia;
    color: #ffffff;
    font-size: 25px;
    background: #0ceb5a;
    padding: 20px 40px 20px 40px;
    border: solid #000000 2px;
    text-decoration: none; }
    header .styledForm button:hover {
      background: #df0;
      text-decoration: none;
      color: black; }

.big-icon {
  height: 120px;
  width: 120px; }

.icon {
  height: 60px;
  width: 60px; }

section {
  padding-top: 10px;
  padding-bottom: 50px;
  border-bottom: 5px solid black; }

.general {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  margin-top: 40px; }

main {
  display: flex;
  flex-direction: column; }
  main .gMain {
    display: flex;
    justify-content: center; }
  main .gExtra {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 30px; }
  main .rate {
    width: 60%;
    border: 2px solid black;
    color: black;
    background-color: gold;
    margin: 0 auto; }
  main .pictures {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
  main .pics {
    display: flex;
    justify-content: space-around;
    text-align: center; }
    main .pics img {
      max-width: 30%;
      border: 1px solid black;
      padding: 5px; }
  main .exchange {
    text-align: center; }
  main .comparison {
    text-align: center; }
  main .hotels {
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
    padding-top: 5px; }
  main .food {
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
    padding-top: 5px; }
  main .alcohol {
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
    padding-top: 5px; }
  main .safety {
    text-align: center; }
    main .safety p {
      width: 60%;
      text-align: center;
      margin: 0 auto; }
  main .money {
    width: 60%;
    margin: 0 auto;
    text-align: center; }
