@import url(https://fonts.googleapis.com/css?family=Volkhov:400,700);
@import url(https://fonts.googleapis.com/css?family=Almendra:400,700italic,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Martel+Sans);
html {
  font-size: 1em; }

body {
  background-color: white;
  font-family: Quicksand;
  font-weight: 400;
  line-height: 1.45;
  color: #333; }

p {
  font-family: 'Martel Sans', sans-serif; }

h1, h2, h3, h4 {
  font-weight: inherit;
  line-height: 1.2; }

h1 {
  margin-top: 0;
  font-size: 3.157em; }

h2 {
  font-size: 2.369em; }

h3 {
  font-size: 1.777em; }

h4 {
  font-size: 1.333em; }

small, .font_small {
  font-size: 0.75em; }

body {
  margin: 0px; }

header {
  height: 100vh;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  background-image: url(http://stmedia.startribune.com/images/ows_138809003453231.jpg);
  background-size: cover;
  background-position: bottom; }
  header h1 {
    color: #fdffcc;
    margin: 0px;
    margin-top: 15px; }
  header p {
    color: #fdffcc; }
  header #loading {
    display: none;
    margin-top: 30px; }
  header .styledForm select {
    border: 0;
    font-size: 24px;
    text-align: center;
    text-align-last: center;
    margin: 30px; }
  header .styledForm option {
    text-align: center; }
  header .styledForm button {
    margin: 0 auto;
    margin-top: 20px;
    display: block;
    border-radius: 15px;
    font-family: Georgia;
    color: #ffffff;
    font-size: 25px;
    background: #b899ff;
    padding: 20px 40px 20px 40px;
    border: solid white 2px;
    text-decoration: none;
    transition: all 0.3s; }
    header .styledForm button:hover {
      background: #ff0ffb;
      color: #fdffcc;
      text-decoration: none; }

.big-icon {
  height: 140px;
  width: 140px; }

.icon {
  height: 60px;
  width: 60px; }

section {
  min-height: 100vh;
  width: 100%;
  border-bottom: 1px dashed #777e7e; }

.general {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  margin-top: 40px; }

main {
  background-color: #e0fdff;
  display: none;
  display: flex;
  flex-direction: column; }
  main a {
    color: #db5d1a;
    text-decoration: none; }
  main p {
    font-family: 'Martel Sans', sans-serif; }
  main .gMain {
    display: flex;
    justify-content: center; }
  main .gExtra {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 30px; }
  main .rate {
    width: 60%;
    padding: 5px;
    border: 1px solid #fdffcc;
    color: #fdffcc;
    border-radius: 15px;
    background-color: #39314A;
    margin: 0 auto; }
  main .pictures {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
  main .pics {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; }
    main .pics img {
      width: 30vw;
      border: 1px solid black;
      padding: 5px; }
    @media (max-width: 400px) {
      main .pics img {
        width: 100vw; } }
  main .exchange {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
  main .comparison {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
  main .hotels {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px dashed grey;
    padding-top: 5px;
    align-items: center; }
  main .food {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px dashed grey;
    padding-top: 5px;
    align-items: center; }
  main .alcohol {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px dashed grey;
    padding-top: 5px;
    align-items: center; }
  main .safety {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
    main .safety p {
      width: 60%;
      text-align: left;
      margin: 0 auto; }
  main .money {
    width: 60%;
    margin: 0 auto;
    text-align: center; }
  main .tip {
    width: 60%;
    text-align: left;
    margin: 0 auto; }
